<%= form_for(current_user.relationships.build(:requested_id => @user.id), remote: true) do |f| %>
  <div><%= f.hidden_field :requested_id %></div>
  <div class="actions"><%= f.submit "Add Friend" %></div>
<% end %>