<%= form_for(current_user.relationships.find_by_requested_id(@user), 
            :html => { :method => :delete }) do |f| %>
  <div class="actions"><%= f.submit "Unfriend #{@user.name}" %></div>
<% end %>