
<table>
  <tr>
    <td>
      <h1>Friends</h1>

      <% if current_user.requesting?(@users) %>
      <ul>
        <%= render :template => 'users/index' %>
      </ul>
      <% end %>
    </td>
  </tr>
</table>