
      <div class="title">
        <h1>Friends</h1>  
        <% if current_user.requesting?(@user) %>
          <ul>
            <%= render :template => 'users/index' %>
          </ul>
        <% end %>
      </div>