// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  margin: 25px;
  border-color: Blue;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
  background-color: LightGrey;
  width: 250px;
}

div#request-form {

}


body {
  
  background-color: White;
  
}

h2.profile {
  margin-top: 2cm;
  text-decoration:underline;
  margin-left: 1cm;
  background-color: Blue;
  color: White;
}

h2.friends {
  margin-left: 1cm;
}

button {
  margin-left: 2cm;  
}

div.user-info {
  margin-left: 2cm;
}


table#users  {
  text-align: right;
  margin-right: 10cm;
  margin-left: 10cm;
  }

#sidebar {
  border-top: 1px solid #99CC33;
  border-left: 1px solid #99CC33;
  border-right: 1px solid #99CC33;
  height: 700px;
  width: 200px;
  float: left;
  margin-right: 5px;
  padding: 5px 0 0 5px;
  border-color: Blue Blue;
}

p {
  text-indent: 50px;
}


